/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container-for-pc  */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* container for mobile */


.ash-color {
    color: rgba(137, 135, 161, 1);
}

.orange-color {
    color: rgba(233, 90, 8, 1);
}

.common-colour {
    color: rgba(0, 0, 0, 0.5);
}

/* font  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-sans-font {
    font-family: "Noto Serif", serif;
}

/* navbar */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-options ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-options ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.nav-options ul li:nth-child(1) a {
    font-weight: bold;
}

.nav-options ul li:nth-child(2) a,
.nav-options ul li:nth-child(3) a {
    color: rgba(137, 135, 161, 1);
}

.nav-options ul li:nth-child(4) a {
    font-size: 20px;
}

.cart {
    font-size: 18px;
}

/* banner-section  */
.banner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 150px 0;
}

.banner-left h2 {
    font-size: 65px;
    font-weight: 600;
    margin: 15px 0;
}

.banner-left p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 80%;
}

.banner-right img {
    display: block;
}

/* our-plants section  */
.our-plants-heading {
    text-align: center;
    margin-bottom: 60px;
}

.our-plants-heading h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 22px;
}

.our-plants-heading p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.our-plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.our-plants-cards .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card img {
    height: auto;
}

.card {
    text-align: center;
}

.card .card-info {
    margin: 20px 0;
}

.card-info h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 20px;
    font-weight: 700;
}

.card .add-to-card-btn {
    padding: 15px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    color: #fff;
}

/* flower-and-plant-lovers */

.flower-and-plant-lovers {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 200px 0;
    position: relative;
}

.trusted-badge img {
    width: 35%;
}

.flower-and-plant-lovers-left-side {
    position: relative;
}

.trusted-badge {
    position: absolute;
    top: -170px;
    left: 340px;
}

.flower-and-plant-lovers h2 {
    font-size: 50px;
    margin: 10px 0;
    width: 80%;
}

.flower-and-plant-lovers ul {
    padding: 20px;
}

.flower-and-plant-lovers ul li {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.flower-and-plant-lovers-right-side {
    margin: 10px 0;
}

/* latest-deals  */
.latest-deals {
    margin-bottom: 90px;
    text-align: center;
}

.latest-deals h2 {
    font-size: 50px;
}

.latest-deals p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: 20px auto;
}

/* lastest-deals-card  */

.images-of-latest-deals {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.latest-deals-image-cards-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.latest-deals-image-sub-card-1 {
    background: radial-gradient(rgba(33, 33, 33, 0.33),
            rgba(0, 0, 0, 0.351)), url('../assets/deal-bloom.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 90px;
    border-radius: 10px;
}

.latest-deals-image-sub-card-1 h2 {
    margin: 10px 0;
    font-size: 21px;
}

.latest-deals-image-sub-card-1 a {
    color: white;
    font-size: 16px;
}


.latest-deals-image-sub-card-2 {
    background: radial-gradient(rgba(33, 33, 33, 0.33),
            rgba(0, 0, 0, 0.351)), url('../assets/deal-ana.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 60px;
    height: 200px;
    border-radius: 10px;
}

.latest-deals-image-sub-card-2 h2 {
    margin: 10px 0;
    font-size: 20px;
}

.latest-deals-image-sub-card-2 a {
    color: white;
    font-size: 16px;
}

.latest-deals-image-cards-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(33, 33, 33, 0.33),
            rgba(0, 0, 0, 0.351)), url('../assets/deal-zabo.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.latest-deals-image-cards-right h2 {
    font-size: 40px;
    margin: 10px 0;
}

.latest-deals-image-cards-right a {
    font-size: 28px;
    color: white;
}

/* join the colourful Bunch */
.join-the-colorful-bunch {
    background: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    text-align: center;
}

.join-the-colorful-bunch h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin: 20px;
}

.join-the-colorful-bunch-input-feild {
    display: flex;
    justify-content: center;
}

.join-the-colorful-bunch-input-feild input {
    text-align: start;
    font-size: 14px;
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 320px;
    border: none;
}

.Subscribe-btn {
    padding: 10px 40px;
    border: none;
    color: #fff;
    background-color: rgb(233, 90, 8, 1);
    font-size: 17px;
}

/* footer */
.final-footer {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    gap: 30px;
}

.final-footer>* {
    flex: 1;
}

.box-1 {
    flex: 2;
}

.box-1 p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.box-2 nav ul,
.box-3 nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.box-2 nav ul a,
.box-3 nav ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.box-4 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* responsive for mobile  */

@media screen and (max-width:576px) {

    /* nav  */
    .nav-options ul li:nth-child(1) a,
    .nav-options ul li:nth-child(2) a,
    .nav-options ul li:nth-child(3) a {
        display: none;
    }

    .container {
        max-width: 500px;
        margin: 10px auto;
    }

    /* banner  */
    .banner {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .banner-right {
        margin-bottom: 40px;
    }

    .banner-left h2 {
        font-size: 34px;
    }

    .banner-left p {
        font-size: 18px;
        max-width: 100%;
    }

    /* our-plants section  */

    .our-plants-heading {
        margin: 20px;
    }

    .our-plants-heading p {
        max-width: 100%;
    }

    .our-plants-cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        gap: 10px;
    }

    .card img {
        width: 100%;
    }


    /*  flower-and-plant-lovers*/
    .trusted-badge {
        display: none;
    }

    .flower-and-plant-lovers {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .flower-and-plant-lovers-right-side h2 {
        font-size: 28px;
        margin: 0;
    }

    .flower-and-plant-lovers-right-side ul li {
        font-size: 18px;
        margin: 13px;
    }

    .flower-and-plant-lovers-right-side ul {
        padding: 5px;
    }

    /* latest deals  */

    .latest-deals {
        margin-bottom: 20px;
    }

    .latest-deals h2 {
        margin-bottom: 20px;
    }

    .images-of-latest-deals {
        grid-template-columns: 1fr;
    }

    .latest-deals-image-cards-right {
        padding: 70px;
    }

    .latest-deals-image-sub-card-1 h2,
    .latest-deals-image-sub-card-2 h2,
    .latest-deals-image-cards-right h2 {
        font-size: 20px;
    }

    .latest-deals-image-cards-right a {
        font-size: 18px;
    }

    /* join the color bunch */

    .join-the-colorful-bunch {
        padding: 60px 0;
    }

    .join-the-colorful-bunch h2 {
        font-size: 30px;
        max-width: 100%;
    }

    .join-the-colorful-bunch-input-feild input {
        padding: 10px 40px;
    }

    .Subscribe-btn {
        padding: 10px 40px;
        border: none;
        color: #fff;
        background-color: rgb(233, 90, 8, 1);
        font-size: 17px;
    }
}